body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-outer{
  text-align: center;
  margin-top: 50px;
  /* padding:20px; */
  /* width:60%; */
  margin-left:27%;
  /* height: 500px; */
  /* background-image: url("../public/images/default.avif"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-description{
  text-align: left;
  padding-left: 300px;
}

.App{
  text-align: left;
  margin-bottom: 20px;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  margin-right: 20px;
}

button{
  margin-left:10px;
}
.top-text{
  text-align: left;
}